package foo

import (
    "gothstarter/views/layouts"
)

templ Index() {
    @layouts.Base(){
        <div class="flex justify-center items-center bg-gray-100">
            <div class="text-3xl text-blue-500 font-bold">hello world</div>
        </div>

        //<div class="text-xl text-blue-500">hello change another</div>
    }
}